.first-slide {
    transition: transform .35s;

}

.seccond-slide {
    transition: transform .35s;
}

.main-box:hover .first-slide {
    transform: translate(70px);
}

.main-box:hover .seccond-slide {
    transform: translate(-70px);
}