.bg-top-btn {
  background-color: #9EE0D6;
}

.first-slide {
  transition: transform 0.35s;
}

.second-slide {
  transition: transform 0.35s;
}

.third-slide {
  transition: transform 0.75s;
}

.main-box:hover .first-slide {
  transform: translate(100px);
}

.main-box:hover .second-slide {
  transform: translate(-100px);
}

.main-box:hover .third-slide {
  transform: translate(-200px);
}

.top-b-t-n {
  transition: transform 0.50s;
}


.top-b-t-n:hover {
  transform: translateY(-7px);
}